.button {
    width: 100%;
    border-radius: 0%;
}

#buttons {
    background-color: white;
}

#arch {
    background-color: #ada1a164;
    color: rgb(56, 56, 56);
}

#masc {
    background-color: #f3737357;
    color: rgb(177, 0, 0);
}

#femi {
    background-color: #8ab3e960;
    color: rgb(11, 29, 189);
}

#wors {
    background-color: #55d33f5b;
    color: rgb(12, 73, 0); 
}

#powe {
    background-color: #c783ee5d;
    color: rgb(81, 0, 187);
}

#othe {
    background-color: #ecaf535e;
    color: rgb(121, 68, 0);
}

#inti {
    background-color: #eeb8eb49;
    color: rgb(122, 0, 106);
}

#past {
    background-color: #74f0e559;
    color: rgb(0, 95, 82);
}

.caption {
    text-align: center;
}

.img {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#body {
    background-image: linear-gradient(to right, rgba(255, 172, 255, 0.226), rgba(133, 250, 133, 0.212));
}