.button {
    width: 100%;
    border-radius: 0%;
}

#arch {
    background-color: #ada1a164;
    color: rgb(56, 56, 56);
}

#masc {
    background-color: #f3737357;
    color: rgb(177, 0, 0);
}

#femi {
    background-color: #8ab3e960;
    color: rgb(11, 29, 189);
}

#wors {
    background-color: #55d33f5b;
    color: rgb(12, 73, 0); 
}

#powe {
    background-color: #c783ee5d;
    color: rgb(81, 0, 187);
}

#othe {
    background-color: #ecaf535e;
    color: rgb(121, 68, 0);
}

#inti {
    background-color: #eeb8eb49;
    color: rgb(122, 0, 106);
}

#past {
    background-color: #74f0e559;
    color: rgb(0, 95, 82);
}